<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="vendor/phpunit/phpunit/phpunit.xsd"
         bootstrap="tests/bootstrap.php"
         colors="true"
         failOnWarning="true"
         failOnNotice="true"
         cacheDirectory=".phpunit.cache">
    <testsuites>
        <!-- Os 38 vetores-ouro. Este número é o contrato do motor: se mudar, alguém
             mudou uma regra do jogo. Testes de outra natureza vão em outra suíte. -->
        <testsuite name="motor">
            <directory>tests/Motor</directory>
        </testsuite>
        <testsuite name="seed">
            <directory>tests/Seed</directory>
        </testsuite>
    </testsuites>
</phpunit>
