includes:
  - vendor/nunomaduro/larastan/extension.neon
  - vendor/pestphp/pest/extension.neon
  - vendor/pestphp/pest/phpstan-pest-extension.neon

parameters:
  level: max
  paths:
    - app
    - bootstrap
    - config
    - database
    - routes
    - tests
  treatPhpDocTypesAsCertain: true
  reportUnmatchedIgnoredErrors: true

